<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Movie</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
    }

    body {
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      background: white;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 500px;
    }

    h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #333;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      color: #444;
    }

    input[type="text"],
    input[type="number"],
    input[type="url"] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 15px;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: #007BFF;
      border: none;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>

  <div class="form-container">
    <h2>Add New Movie</h2> 
    <form action="/insert_movie" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Movie Title</label>
        <input type="text" id="title" name="title" required />
      </div>
      <div class="form-group">
        <label for="year">Release Year</label>
        <input type="number" id="year" name="year" required />
      </div>
      <div class="form-group">
        <label for="director">Director</label>
        <input type="text" id="director" name="director" required />
      </div>

      <div class="form-group">
        <label for="type">Movie Type</label>
        <select id="type" name="type" class="form-control" required>
          <option value="Action">Action</option>
          <option value="Drama">Drama</option>
          <option value="Comedy">Comedy</option>
          <option value="Horror">Horror</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Romance">Romance</option>
          <option value="Thriller">Thriller</option>
          <option value="Adventure">Adventure</option>
        </select>
      </div>
      
      
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" required />
      </div>
      <button type="submit">Add Movie</button>
    </form>
  </div>    

</body> 
</html>
